/* Styles for the title of the forecast section */
.title {
  font-size: 23px;
  font-weight: 700;
}

/* Styles for each daily forecast item */
.daily-item {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
}

/* Styles for small weather icons */
.icon-small {
  width: 40px;
}

/* Styles for the day of the week in the forecast item */
.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

/* Styles for the weather description in the forecast item */
.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

/* Styles for the temperature range in the forecast item */
.min-max {
  color: #757575;
}

/* Styles for the container of the detailed weather information */
.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

/* Styles for each weather detail item in the detailed weather information container */
.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

/* Styles for the label of the weather detail */
.daily-details-grid-item label:first-child {
  color: #757575;
}

/* Styles for the value of the weather detail */
.daily-details-grid-item label:last-child {
  color: #212121;
}
